@import "./public.less";
body{
    background: #f7f7f7;
    #share-table{
         width: 6.83rem; margin: 0.81rem auto 0; text-align:justify;
        tr{
            margin-top: 0.3rem;
            td{
                font-size: 16px; vertical-align: top; line-height: 25px;
            }
            .red-text{ color:#ff7073; }
            .td-left{
                width: 2.03rem; color: #333; font-weight: 600;
            }
            .td-right{
                color: #666;
            }
        }
        
    }
    .btn-style{
        .btn-style(6.72rem); margin-top: 0.8rem;
    }
    .tip-text{
        width: 6.7rem; margin: 0.4rem auto 0; font-size: 13px; line-height: 20px; color: #ff686b;
    }
}

